apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  git.user: "argocd-image-updater"
  git.email: "argocd@example.com"
  git.commit-message-template: "build: auto-update {{ .AppName }} to {{ .NewTag }}"
